* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/* =============================== NAVBAR ================================= */

.navbar {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.26)), url('images/ozadje.webp');
    background-size: 30% auto;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    /* height: 8vh; */
}

.title1 {   
    margin-left: 2vw;
    flex: 1;
    font-size: 30px;
    opacity: 1;
    font-weight: 600;
    
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.171);
    background-image: linear-gradient(45deg, #13335c, #2673d8);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
}
.link{
    text-decoration: none;
    display: inline;
    /* transition: all .3s ease-in-out; */
    font-weight: 900;
    margin-right: 10%;

    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 2em;
}

.dropdown button, .navbar-links a  {
    font-size: 24px;
}

.zoom:hover {
    transform: scale(1.5);
    color: inherit;
    transition: transform 0.3s ease;
}
.dropbtn:not(.dropdown):hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.dropbtn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffffd3;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    min-width: 180px;
    z-index: 1;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px; /* Add rounded edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.dropdown-content a {
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(148, 148, 148, 0.575);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Hover effect for dropdown items */
.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.219); /* Lighten background on hover */
}

@media all and (max-device-width: 1000px){
    .title1 {
        display: none;
    }
    .dropdown button, .navbar-links a {
        font-size: 18px;
        margin: 0;
    }
    .navbar-links {
        margin-right: 0;
    }
    .navbar {
        background-size: 60% auto;
    }
}

/* ============================= OPISI OSEB ======================================= */


.titleOsebe {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
    font-size:  55px;
    text-shadow: 5px 5px 13px #537895;
    background-image: linear-gradient(45deg, #13335c, #2673d8);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.col-sm-4 {
    display: flex;
    justify-content:center;
    align-items: center;
}

.prehod {
    /* background-image: linear-gradient(url('images/ozadje.webp'), rgba(255,255,255,0.6), #537895 100%) ; */
    max-height: 13vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.26), #537895), url('images/ozadje.webp');
    background-size: 30% auto;
    z-index: 100;
    height: 120vh;
}

@media all and (max-device-width: 700px){
    .navbar {
        background-size: 60% auto;
    }
    .prehod {
        background-size: 60% auto;
    }    
}

/* ============================= SECTION: 1 ======================================= */

/* .section {
    width: 100%; 
    
} */

.ozadje {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('images/ozadje.webp');
    background-size: 40% auto;
    z-index: 100;
}

@media all and (max-device-width: 480px){
    .ozadje {
        background-size: 90% auto;
    }
}

#sec-1 {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.4) 1%, rgba(35, 33, 40, 0.85) 90%), url('images/naslovna.jpg');
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-size: cover;

    /* z-index: -1; */
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

@media all and (max-device-width: 480px){
    #sec-1 {
        height: 200;
    }
    .naslovnica {
        padding: none;
    }
}

.naslovnica {
    padding-top: 10%;
    padding-bottom: 50%;
}

.naslovnaVrsta {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.naslov {
    background-image: radial-gradient(circle, #dbdbdb, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.901));
    margin-bottom: 3%;
    font-size: 65px;
    font-weight: 500;
    z-index: 1;
}

.besedilo {
    color: white;
    font-size: 24px;
    font-weight: 390;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.76));
}

.besedilo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 390;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.76));
}

@media all and (max-device-width: 700px) {
    .naslov {
        margin-bottom: 10%;
        font-size: 30px;
    }

    .besedilo {
        font-size: 14px;
    }
    .besedilo a {
        font-size: 12px;
    }
}

/* ============================= SECTION: 2 ======================================= */

#sec-2 {
    padding: 100px 0px;
    z-index: -1;
    /* background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('images/ozadje.webp'); */


    /* overflow: hidden; */
    /* background-image: url('images/ozadje.webp');
    background-size: 30% auto;
    z-index: 10;
    min-height: 100vh; */
}

.carousel {
    justify-content: center;
    width: 40vw;
    height: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 50px 170px rgba(0,0,0,0.7), 0px 10px 10px rgba(0,0,0,0.2);
}

@media all and (max-device-width: 900px){
    .carousel {
        width: 80vw;
        /* min-width: 50vw; */
    }
}

/* ============================== SECTION: 3 ====================================== */

#sec-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.vrsta {
    padding: 2% 0 2% 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.opisOsebe {   
    font-size: 18px;
    text-align: center; 
    text-align: justify;
    /* display: flex;
    justify-content: center; */
    max-width: 30%;
}

.textSmall {
    font-size: 16px;
}

.slikca {
    /* margin: 4vw auto; */
    margin: 10% auto;
    border-radius: 20px;
    box-shadow: 0px 50px 70px rgba(0,0,0,0.4), 0px 10px 10px rgba(0,0,0,0.1);
    min-width: 25vw;
    max-width: 25vw;
    /* min-width: 560px; */

    /* min-width: 25vw; */
    height: auto;
}

.velika {
    min-width: 30vw;
    /* max-width: 25vw; */
}

.majhna {
    max-width: 20vw;
    min-width: 20vw;
    /* max-width: 25vw; */
}

@media all and (max-device-width: 700px){
    .opisOsebe {
        font-size: 15px;
        max-width: 100%;
    }
    h2 {
        font-size: 28px;
    }
}

@media all and (max-device-width: 700px){
    .vrsta {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .slikca {
        max-width: 80vw;
        min-width: none;
    }
}


/* ============================== SECTION: 4 ====================================== */

#sec-4 {
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.26), #09203f), url('images/ozadje.webp'); */
    z-index: -100;
    max-height: 50vw;
}

.footer {
    padding: 4% 2%;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: -3px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
    background-image: radial-gradient(circle, #dbdbdb, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    margin: 1% 0;
}

.kontakt p {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.kontakt h3 {
    font-size: 26px;
}


.zemljevid {
    box-shadow: 0px 50px 70px rgba(0,0,0,0.3),
              0px 10px 10px rgba(0,0,0,0.1);
    margin: auto;
    /* min-width: 35vw; */
    max-width: 35vw;
    min-width: 40vw;
    min-height: 25vw;
    border-radius: 10px;
    border: 1px solid black;
    margin: 3% auto;
}

@media all and (max-device-width: 1000px){
    #sec-4 {
        max-height: none;
    }

    .footer {
        padding: 3%;
        flex-direction: column;
        align-items: center;
    }
    
    .zemljevid {
        min-width: 65vw;
        min-height: 70vw;
    }

    .kontakt {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .kontakt p {
        font-size: 15px;
    }

    .kontakt h3 {
        font-size: 18px;
    }
}